[package]
name = "sasktran2-core"
version = "0.1.0"
edition = "2024"

[build-dependencies]
version_check = "*"

[dependencies]
ndarray = {version = "*", features = ["rayon"] }
num = "*"
anyhow = "*"

[features]
nightly = ["simd"]
simd = []
