[package]
name = "core_rust"
version = "0.1.0"
edition = "2024"

[lib]
name = "_core_rust"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.24.1", features = ["extension-module"] }
sk_core = { path = "../core" }  # your existing core Rust lib
