name: 'build'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build-upload-conda-pysasktran2:
    runs-on: ${{ matrix.os }}
    if: (github.event_name == 'release')

    environment:
      name: conda
      url: https://anaconda.org/usask-arg/sasktran2
    permissions:
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target_plat: x86_64
          - os: windows-latest
            target_plat: x86_64
          - os: macos-11
            target_plat: x86_64
          - os: macos-11
            target_plat: arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Conda build environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ci/conda-envs/mamba-build.yml

      - name: Set release python envs
        shell: bash -el {0}
        run: |
          cp ci/conda_build_config_release.yaml conda.recipe/conda_build_config.yaml
          conda config --set anaconda_upload yes

      - name: Build Conda package
        shell: bash -el {0}
        if: (matrix.target_plat == 'x86_64')
        run: |
          conda mambabuild conda.recipe --output-folder pkgs/ --user usask-arg --token ${{ secrets.TOKEN }}

      - name: Build Conda package (cross mac arm)
        shell: bash -el {0}
        if: (matrix.target_plat == 'arm') && (matrix.os == 'macos-11')
        run: |
          conda mambabuild conda.recipe -m conda.recipe/osx_arm64_.yaml --output-folder pkgs/ --no-test --user usask-arg --token ${{ secrets.TOKEN }}

      - name: Save conda package
        uses: actions/upload-artifact@v4
        with:
          name: sasktran2-conda-${{ matrix.os }}-${{ matrix.target_plat }}
          path: pkgs

  build-conda-pysasktran2:
    runs-on: ${{ matrix.os }}
    if: (github.event_name != 'release')

    environment:
      name: conda-nightly
      url: https://anaconda.org/usask-arg-nightly/sasktran2
    permissions:
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target_plat: x86_64
          - os: windows-latest
            target_plat: x86_64
          - os: macos-11
            target_plat: x86_64
          - os: macos-11
            target_plat: arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Conda build environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ci/conda-envs/mamba-build.yml

      - name: Set release python envs
        shell: bash -el {0}
        run: |
          cp ci/conda_build_config_release.yaml conda.recipe/conda_build_config.yaml
          conda config --set anaconda_upload yes

      - name: Build Conda package
        shell: bash -el {0}
        if: (matrix.target_plat == 'x86_64')
        run: |
          conda mambabuild conda.recipe --output-folder pkgs/ --user usask-arg-nightly --token ${{ secrets.TOKEN }}

      - name: Build Conda package (cross mac arm)
        shell: bash -el {0}
        if: (matrix.target_plat == 'arm') && (matrix.os == 'macos-11')
        run: |
          conda mambabuild conda.recipe -m conda.recipe/osx_arm64_.yaml --output-folder pkgs/ --no-test --user usask-arg-nightly --token ${{ secrets.TOKEN }}

      - name: Save conda package
        uses: actions/upload-artifact@v4
        with:
          name: sasktran2-conda-${{ matrix.os }}-${{ matrix.target_plat }}
          path: pkgs

  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build SDist
        run: pipx run build --sdist

      - name: Check metadata
        run: pipx run twine check dist/*

      - uses: actions/upload-artifact@v4
        with:
          path: dist/*.tar.gz

  build_wheels_cibuildwheel:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-11, windows-latest ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Build wheels all
        uses: pypa/cibuildwheel@v2.16.5
        env:
          CIBW_SKIP: "pp* *musllinux* cp37-* cp38-* cp39-*"
          CIBW_BUILD: "cp310-* cp311-* cp312-*"
        with:
          output-dir: wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl
          name: sasktran2-wheel-${{ matrix.os }}

  upload_wheels:
    runs-on: ubuntu-latest
    needs: [build_wheels_cibuildwheel, build_sdist]
    environment:
      name: pypi
      url: https://pypi.org/p/sasktran2
    permissions:
      id-token: write
    if: (github.event_name == 'release')
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - uses: actions/download-artifact@v4
        with:
          name: artifact
          path: dist

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.8.11
        with:
          verbose: true

  build_docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Conda build environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: sasktran2-dev-build
          environment-file: conda/dev_env.yml
          channels: conda-forge
          auto-activate-base: false
          python-version: 3.11

      - name: Install Wheel
        shell: bash -el {0}
        run: |
          pip install .

      - name: Build sphinx
        shell: bash -el {0}
        run: |
          cd docs/sphinx
          make html

      - uses: actions/upload-artifact@v4
        with:
          name: sasktran2-py-docs
          path: docs/sphinx/build/html


  upload-docs-to-pages:
    needs: build_docs
    runs-on: ubuntu-latest

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      contents: write      # to deploy to Pages

    steps:
      - name: Download doc artifacts
        uses: actions/download-artifact@v4
        with:
          name: sasktran2-py-docs
          path: docs

      - name: Deploy release docs
        uses: peaceiris/actions-gh-pages@v3
        if: github.event_name == 'release'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs
