name: 'build'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build-upload-conda-pysasktran2:
    runs-on: ${{ matrix.os }}
    if: (github.event_name == 'release')

    environment:
      name: conda
      url: https://anaconda.org/usask-arg/sasktran2
    permissions:
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target_plat: x86_64
          - os: windows-2019
            target_plat: x86_64
          - os: macos-13
            target_plat: x86_64
          - os: macos-14
            target_plat: arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Conda build environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ci/conda-envs/mamba-build.yml

      - name: Set release python envs
        shell: bash -el {0}
        run: |
          cp ci/conda_build_config_release.yaml conda.recipe/conda_build_config.yaml
          conda config --set anaconda_upload yes

      - name: Build Conda package
        shell: bash -el {0}
        run: |
          conda mambabuild conda.recipe --output-folder pkgs/ -c conda-forge/label/python_rc --user usask-arg --token ${{ secrets.ANACONDA_TOKEN }}

      - name: Build Conda package (cross mac arm)
        shell: bash -el {0}
        if: (matrix.target_plat == 'arm') && (matrix.os == 'macos-12')
        run: |
          conda mambabuild conda.recipe -m conda.recipe/osx_arm64_.yaml --output-folder pkgs/ -c conda-forge/label/python_rc --no-test --user usask-arg --token ${{ secrets.ANACONDA_TOKEN }}

      - name: Save conda package
        uses: actions/upload-artifact@v4
        with:
          name: sasktran2-conda-${{ matrix.os }}-${{ matrix.target_plat }}
          path: pkgs

  build-conda-pysasktran2:
    runs-on: ${{ matrix.os }}
    if: (github.event_name != 'release')

    environment:
      name: conda-nightly
      url: https://anaconda.org/usask-arg-nightly/sasktran2
    permissions:
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target_plat: x86_64
          - os: windows-2019
            target_plat: x86_64
          - os: macos-13
            target_plat: x86_64
          - os: macos-14
            target_plat: arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Conda build environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ci/conda-envs/mamba-build.yml

      - name: Set release python envs
        shell: bash -el {0}
        run: |
          cp ci/conda_build_config_release.yaml conda.recipe/conda_build_config.yaml
          conda config --set anaconda_upload yes

      - name: Build Conda package
        shell: bash -el {0}
        run: |
          conda mambabuild conda.recipe --output-folder pkgs/ -c conda-forge/label/python_rc --user usask-arg-nightly --token ${{ secrets.ANACONDA_TOKEN_NIGHTLY }}

      - name: Build Conda package (cross mac arm)
        shell: bash -el {0}
        if: (matrix.target_plat == 'arm') && (matrix.os == 'macos-12')
        run: |
          conda mambabuild conda.recipe -m conda.recipe/osx_arm64_.yaml --output-folder pkgs/ -c conda-forge/label/python_rc --no-test --user usask-arg-nightly --token ${{ secrets.ANACONDA_TOKEN_NIGHTLY }}

      - name: Save conda package
        uses: actions/upload-artifact@v4
        with:
          name: sasktran2-conda-${{ matrix.os }}-${{ matrix.target_plat }}
          path: pkgs

  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build SDist
        run: pipx run build --sdist

      - name: Check metadata
        run: pipx run twine check dist/*

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  build_wheels_cibuildwheel:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-22.04, macos-13, macos-14, windows-2019 ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Set MACOSX_DEPLOYMENT_TARGET for macos-13
        if: matrix.os == 'macos-13'
        run: echo "MACOSX_DEPLOYMENT_TARGET=10.14" >> $GITHUB_ENV

      - name: Build wheels all
        uses: pypa/cibuildwheel@v2.22.0
        env:
          CIBW_SKIP: "pp* *musllinux* cp37-* cp38-* cp39-* cp310-*"
          CIBW_BUILD: "cp311-* cp312-* cp313-*"
        with:
          output-dir: wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}

  build_wheels_cibuildwheel_emulated:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-22.04 ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Build wheels single version
        uses: pypa/cibuildwheel@v2.22.0
        env:
          DO_STREAM_TEMPLATES: "OFF"
          CIBW_SKIP: "pp* *musllinux* cp37-* cp38-* cp39-* cp310-*"
          CIBW_BUILD: "cp311-* cp312-* cp313-*"
          CIBW_ARCHS_LINUX: aarch64
          CIBW_ENVIRONMENT_PASS_LINUX: DO_STREAM_TEMPLATES
          CIBW_TEST_SKIP: "*-*linux_{aarch64,ppc64le,s390x,armv7l}"
        with:
          output-dir: wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl
          name: cibw-wheels-${{ matrix.os }}-aarch64


  upload_wheels:
    runs-on: ubuntu-latest
    needs: [build_wheels_cibuildwheel, build_wheels_cibuildwheel_emulated, build_sdist]
    environment:
      name: pypi
      url: https://pypi.org/p/sasktran2
    permissions:
      id-token: write
    if: (github.event_name == 'release')
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.12.3
        with:
          verbose: true
