name: 'test'

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, reopened, synchronize, labeled ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  test-cpp-ubuntu:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: install apt dependencies
        run: |
          sudo apt update
          sudo apt install -y zlib1g-dev

      - name: Setup mamba build environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: conda/dev_env.yml

      - name: build
        shell: bash -el {0}
        run: |
          cmake -S . -B build  -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=ON
          cmake --build build --config Release --target sasktran2_tests -j 2

      - name: test
        shell: bash -el {0}
        run: |
          cd build/lib
          ctest --verbose

  test-dev-env-windows:
    runs-on: windows-2019

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup mamba build environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: conda/dev_env_windows.yml

      - name: cmake configure debug
        shell: bash -el {0}
        run: |
          cmake -S. -B build -DCMAKE_BUILD_TYPE=Release --debug-find

      - name: build
        shell: bash -el {0}
        run: |
          pip install -e . -v

      - name: printenv
        shell: bash -el {0}
        run: |
          printenv

  test-pixi:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
          - os: windows-2019
          - os: macos-13
          - os: macos-14

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: setup pixi
        uses: prefix-dev/setup-pixi@v0.8.1

      - name: compile sasktran2
        run: |
          pixi r build

      - name: run tests
        run: |
          pixi r test


  test-conda-pysasktran2:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target_plat: x86_64
          - os: windows-2019
            target_plat: x86_64
          - os: macos-13
            target_plat: x86_64
          - os: macos-14
            target_plat: arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Conda build environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ci/conda-envs/mamba-build.yml

      - name: Set test python envs
        shell: bash -el {0}
        run: |
            cp ci/conda_build_config_test.yaml conda.recipe/conda_build_config.yaml
            conda config --set anaconda_upload no

      - name: Build Conda package
        shell: bash -el {0}
        run: |
          conda mambabuild conda.recipe --output-folder pkgs/ -c conda-forge/label/python_rc

      - name: Build Conda package (cross mac arm)
        shell: bash -el {0}
        if: (matrix.target_plat == 'arm') && (matrix.os == 'macos-12')
        run: |
          conda mambabuild conda.recipe -m conda.recipe/osx_arm64_.yaml --output-folder pkgs/ --no-test -c conda-forge/label/python_rc

      - name: Save conda package
        uses: actions/upload-artifact@v4
        with:
          name: sasktran2-conda-${{ matrix.os }}-${{ matrix.target_plat }}
          path: pkgs

  test_wheels_cibuildwheel:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-22.04, macos-13, macos-14, windows-2019 ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Set MACOSX_DEPLOYMENT_TARGET for macos-13
        if: matrix.os == 'macos-13'
        run: echo "MACOSX_DEPLOYMENT_TARGET=10.14" >> $GITHUB_ENV

      - name: Build wheels single version
        uses: pypa/cibuildwheel@v2.22.0
        env:
          DO_STREAM_TEMPLATES: "ON"
          CIBW_SKIP: "pp* *musllinux* cp37-*"
          CIBW_BUILD: "cp313-*"
          CIBW_ENVIRONMENT_PASS_LINUX: DO_STREAM_TEMPLATES
        with:
          output-dir: wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
